<div class="row penguin-example">
    <div class="col-a-offset-1 col-a-11">
        <span class="fill-col">.col-[size]-offset-1</span>
    </div>
    <div class="col-a-offset-2 col-a-10">
        <span class="fill-col">.col-[size]-offset-2</span>
    </div>
    <div class="col-a-offset-3 col-a-9">
        <span class="fill-col">.col-[size]-offset-3</span>
    </div>
    <div class="col-a-offset-4 col-a-8">
        <span class="fill-col">.col-[size]-offset-4</span>
    </div>
    <div class="col-a-offset-5 col-a-7">
        <span class="fill-col">.col-[size]-offset-5</span>
    </div>
    <div class="col-a-offset-6 col-a-6">
        <span class="fill-col">.col-[size]-offset-6</span>
    </div>
    <div class="col-a-offset-7 col-a-5">
        <span class="fill-col">.col-[size]-offset-7</span>
    </div>
    <div class="col-a-offset-8 col-a-4">
        <span class="fill-col">.col-[size]-offset-8</span>
    </div>
    <div class="col-a-offset-9 col-a-3">
        <span class="fill-col">.col-[size]-offset-9</span>
    </div>
    <div class="col-a-offset-10 col-a-2">
        <span class="fill-col">.col-[size]-offset-10</span>
    </div>
    <div class="col-a-offset-11 col-a-1">
        <span class="fill-col">.col-[size]-offset-11</span>
    </div>
</div>
