<div class="row penguin-example">
    <div class="col-a-12">
        <span class="fill-col">.col-[size]-12</span>
    </div>
    <div class="col-a-12">
        <div class="row">
            <div class="col-a-6">
                    <span class="fill-col">.col-[size]-6</span>
            </div>
            <div class="col-a-6">
                <div class="row">
                    <div class="col-a-6">
                        <span class="fill-col">.col-[size]-6</span>
                    </div>
                    <div class="col-a-6">
                        <div class="row">
                            <div class="col-a-6">
                                <span class="fill-col">.col-[size]-6</span>
                            </div>
                            <div class="col-a-6">
                                <div class="row">
                                    <div class="col-a-6">
                                        <span class="fill-col">.col-[size]-6</span>
                                    </div>
                                    <div class="col-a-6">
                                        <span class="fill-col">.col-[size]-6</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>