<ul class="row penguin-example">
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
    <li class="col-a-3">
        <span class="fill-col">.col-[size]-3</span>
    </li>
</ul>